* {
    margin: 0;
    padding: 0;
    /* font-family: "Segoe UI"; */
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(241, 241, 241);
}

.main {
    display: flex;
    align-items: center;
    /* font-size: 1.3em; */
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: brown;
    padding: 5px 20px;
    border: transparent;
    transition: .3s ease;
    size: 50px;
}

h2 {
    font-family: 'Alex Brush', cursive;
    padding-top: 10px;
}

a.nav-content:hover {
    background-color: brown;
    color: white;
}

.headerLogo h1 {
    text-shadow: 2px 2px 0px #d5d5d5, 4px 4px 0px rgba(0, 0, 0, 0.2);
    font-family: 'Alex Brush', cursive;
    line-height: 70px;
    font-size: 70px;
    cursor: pointer;
    display: inline;
}

.headerLogo h1 span {
    text-shadow: 2px 2px 0px #d5d5d5, 4px 4px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-family: 'Satisfy', cursive;
    font-family: 'Sacramento', cursive;
    font-family: 'Mr De Haviland', cursive;
    font-family: 'Alex Brush', cursive;
    font-size: 70px;
}

.headerLogo h1 a img {
    width: 60px;
    margin-right: 20px;
}

.headerLogo h1 a {
    font-size: 50px;
    text-decoration: none;
    color: brown;
    display: flex;
    align-items: center;
}

a.fab.fa-instagram:hover {
    background-color: brown;
    color: white;
}

a.fab.fa-youtube:hover {
    background-color: brown;
    color: white;
}

.headerLogo {
    text-align: center;
}

header {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.nav-icon {
    width: 50%;
    padding: 10px 20px;
    background: blue;
    text-align: right;
    box-sizing: border-box;
    color: white;
    font-size: 30px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #ccc;
    margin: 1em 0;
    padding: 0;
    font-size: 10px;
}


/* ============= */


/* Product */

.recipe-list {
    padding: 4rem 0;
}

.recipe-title h2 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 5rem;
    background: rgb(238, 188, 188);
    color: rgb(255, 255, 255);
}

.product-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
    transition: 500ms;
    position: relative;
    justify-items: center;
}

.product {
    position: relative;
    text-align: center;
    width: 85%;
}

.img-container {
    position: relative;
    overflow: hidden;
    transition-duration: 150ms;
    cursor: pointer;
    transition: all .3 linear;
}

.img-container:hover {
    transform: scale(1.05);
    box-shadow: 0 0px 15px grey;
}

.img-container:hover .detail-btn {
    transform: translateX(0);
}

.img-container:hover .product-img {
    transform: scale(1.15);
}

.product-img {
    display: block;
    width: 100%;
    transition: 1s
}

.detail-btn {
    position: absolute;
    top: 50%;
    right: 0;
    background: white;
    border: none;
    /* text-transform: uppercase; */
    padding: 0.3rem 1rem;
    font-weight: bold;
    font-size: 1.4rem;
    transition: all 250ms ease;
    transform: translateX(101%);
    cursor: pointer;
}

.detail-btn:hover {
    color: white;
    background: green;
}

.product h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    font-size: 1.6rem;
    margin-top: 2rem;
    text-align: center;
    background: white;
    padding: 4px 0px;
}


/* ==================================== */

@media only screen and (max-width: 480px) {
    header {
        flex-direction: column-reverse;
    }
    .main {
        margin: 0px auto;
        font-size: 30px;
    }
    body {
        width: 100vh;
    }
    .headerLogo {
        margin-top: 30px;
    }
    #logo {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }
    .headerLogo h1 a img {
        margin-bottom: 20px;
        width: 80px;
        margin-right: 0;
    }
    .product {
        width: 120%;
    }
    footer {
        font-size: 26px;
    }
    .website {
        display: none;
    }
}