* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }

body {
    background-image: url(homepage.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: cover;
    background-attachment: fixed;
}
.main{
    max-width: 1200px;
    margin: auto;
    display: inline;
}
ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sacramento', cursive;
    font-family: 'Mr De Haviland', cursive;
    font-family: 'Alex Brush', cursive;
	font-weight: normal;
    color: brown;
    padding: 5px 20px;
    transition: 0.6s ease;
    font-size: 25px;
}

.headerLogo h1 { 
	text-shadow: 2px 2px 0px #d5d5d5, 4px 4px 0px rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
    font-family: 'Sacramento', cursive;
    font-family: 'Mr De Haviland', cursive;
    font-family: 'Alex Brush', cursive;
	font-weight: normal;
	line-height: 48px;
    width: 80%;
    cursor: pointer;
}

.headerLogo h1 a {
    font-size: 100px;   
    text-decoration: none;
    color: brown;
}
a.fab.fa-instagram:hover{
    background-color: brown;
    color: white;
}
a.fab.fa-youtube:hover{
    background-color:brown;
    color: white;
}

.headerLogo{
    text-align: center;
    margin-top:30px;
}

header{
    width:80%;
    margin: auto;
}

#food {
    width: 80vw;
    height: 100vh; 
    margin-top: 200px;
    margin: auto;
}

#row {
    display: flex;
    padding: 50px 0;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    margin: auto;
}

.grid {
    width: 35vw;
    height: 40vh;
    text-align: center;
}

.grid > img {
    width: 100%;
    height: 100%;
}


