/* Header */

* {
    box-sizing: border-box;
}

body {
    /* background-image: url(/pictrure/homepage.jpeg); */
    background-color: #e6e1de;
    padding: 0;
    width: 1270px;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* font-family: "Segoe UI Semibold"; */
}

.nav-bar {
    max-width: 1200px;
    margin: auto;
    display: inline;
}

#nav-content {
    float: right;
    list-style-type: none;
    margin-top: 35px;
}

ul li {
    display: inline-block;
}

#detailIngredient ol li {
    font: normal 300 16px/20px "Segoe UI", Helvetica, Arial, Sans-serif;
    line-height: 30px;
    font-style: italic;
    list-style: none;
}

ul li a {
    text-decoration: none;
    font-weight: normal;
    color: brown;
    padding: 5px 20px;
    transition: 0.6s ease;
    font-size: 17px;
}


/* .headerLogo h1 {
    text-shadow: 2px 2px 0px #d5d5d5, 4px 4px 0px rgba(0, 0, 0, 0.2);
    font-family: 'Satisfy', cursive;
    font-family: 'Sacramento', cursive;
    font-family: 'Mr De Haviland', cursive;
    font-family: 'Alex Brush', cursive;
    margin: 2px;
    padding: 5px;
    line-height: 70px;
    width: 80%;
    cursor: pointer;
    margin-top: 30px;
} */

.headerLogo h1 span {
    text-shadow: 2px 2px 0px #d5d5d5, 4px 4px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-family: 'Satisfy', cursive;
    font-family: 'Sacramento', cursive;
    font-family: 'Mr De Haviland', cursive;
    font-family: 'Alex Brush', cursive;
    font-size: 70px;
}

.headerLogo h1 a img {
    width: 60px;
    margin-right: 20px;
}

.headerLogo h1 a {
    font-size: 50px;
    text-decoration: none;
    color: brown;
    display: flex;
    align-items: center;
}

.headerLogo h1 {
    text-shadow: 2px 2px 0px #d5d5d5, 4px 4px 0px rgba(0, 0, 0, 0.2);
    font-family: 'Alex Brush', cursive;
    line-height: 70px;
    font-size: 70px;
    cursor: pointer;
    display: inline;
}

.headerLogo {
    text-align: center;
}

header {
    width: 80%;
    margin: auto;
    justify-content: space-between;
    padding-top: 10px;
}

.main {
    display: block;
    text-align: center;
    /* font-size: 1.3em; */
    float: right;
    /* padding: 0 px; */
}

.nav-icon {
    width: 50%;
    padding: 10px 20px;
    background: blue;
    text-align: right;
    box-sizing: border-box;
    color: white;
    font-size: 30px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #ccc;
    margin: 1em 0;
    padding: 0;
    font-size: 10px;
}

a.fab.fa-instagram:hover {
    background-color: brown;
    color: white;
}

a.fab.fa-youtube:hover {
    background-color: brown;
    color: white;
}


/* ============= */


/* Recipe detail */

#container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    font-style: normal;
}

#main {
    flex: 70%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#main h1 {
    font-family: "Segoe UI Semibold";
    font-size: 30px;
    margin: 1px;
}

.side {
    flex: 30%;
    /* background-color: #f1f1f1; */
    padding: 20px;
    max-width: 300px;
}

#img-container-main {
    position: relative;
    width: 500px;
    height: 500px;
    display: inline-block;
}

.comment-line img {
    margin-top: 20px;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    border: 0;
}

.comment-area {
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgba(192, 192, 192, 0.76);
    padding: 7px;
}

.comment-author {
    margin-left: 10px;
    font-weight: bold;
    /* display: inline-block; */
    font-size: 20px;
    color: brown;
    margin-bottom: 5px;
    margin-top: 3px;
}

.img-container-side img {
    width: 100%;
}

.recipe-img {
    background-color: #aaa;
    width: 80%;
    height: 80%;
}

.recipe-img:hover {
    opacity: 0.8;
}

p {
    margin: 10px;
    text-align: justify;
    /* line-height: 30px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    background-color: white;
}


/* Comment */

.contact-form {
    margin-top: 20px;
}

.form-control-cmt,
.form-control-name {
    width: 100%;
    background: white;
    border: 1px solid black;
    border-bottom: 1px solid grey;
    color: black;
    font-size: 15px;
    /* margin-bottom: 16px; */
}

.form-control-name {
    background-color: silver;
    height: 20px;
}

.form-control-cmt {
    height: 40px;
}

.button {
    background: #4267b2;
    border-color: transparent;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    height: 40px;
}

.button:hover {
    background-color: peru;
    cursor: pointer;
}

#intro-food {
    text-decoration: none;
    color: #545454;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#side-bar {
    padding: 5px;
}

#side-bar img:hover {
    opacity: 0.8;
}

#hix {
    color: black;
    text-decoration: none;
}

#hix:hover {
    text-decoration: underline;
}

ol li:first-letter {
    text-transform: capitalize
}

ol {
    display: flex;
    flex-flow: wrap column;
    max-height: 270px;
}

@media only screen and (max-width: 480px) {
    #nav-content {
        float: none;
        line-height: 30px;
    }
    header {
        flex-direction: column-reverse;
    }
    .main {
        margin: 0px auto;
        font-size: 30px;
    }
    body {
        width: 100vh;
    }
    .headerLogo {
        margin-top: 30px;
    }
    #logo {
        margin-top: 40px;
        display: inline-flex;
        flex-direction: column;
    }
    .headerLogo h1 a img {
        margin-bottom: 20px;
        width: 80px;
        margin-right: 0;
    }
    .recipe-img {
        background-color: #aaa;
        width: 95%;
        height: 80%;
    }
    .form-control {
        width: 300px;
        background: transparent;
        border: 1px solid black;
        border-bottom: 1px solid grey;
        color: palevioletred;
        font-size: 15px;
        /* margin-bottom: 16px; */
    }
    input {
        height: 40px;
    }
    .button {
        background: #4267b2;
        border-color: transparent;
        color: wheat;
        font-weight: bold;
        letter-spacing: 2px;
        text-align: center;
        height: 40px;
        /* margin-top: 20px; */
    }
    .side {
        display: none;
    }
    #main {
        width: 100vw;
        padding: 0px;
    }
    #instruction {
        width: 90vw;
        margin: auto;
    }
    /* body {
        width: 400px;
        margin: auto;
    } */
    /* ol {
        display: flex;
        flex-flow: wrap column;
        max-height: 300px;
    } */
    #foody {
        display: flex;
        flex-wrap: wrap;
    }
    #comment {
        box-sizing: border-box;
    }
    .comment-line {
        padding: 15px;
    }
    #foody {
        display: flex;
    }
    a.nav-content:hover {
        background-color: brown;
        color: white;
    }
    footer {
        font-size: 26px;
    }
    .website {
        display: none;
    }
}