* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(./pic/homepage.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: brown;
    padding: 5px 20px;
    border: transparent;
    transition: 0.6s ease;
    size: 5px;
}

.title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1 {
    padding: 0;
    text-shadow: 2px 2px 0px #d5d5d5, 4px 4px 0px rgba(0, 0, 0, 0.2);
    font-family: 'Satisfy', cursive;
    font-family: 'Sacramento', cursive;
    font-family: 'Mr De Haviland', cursive;
    font-family: 'Alex Brush', cursive;
    color: brown;
    font-size: 100px;
}

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main {
    max-width: 1200px;
    margin: auto;
}

.btn {
    padding: 10px 40px;
    color: brown;
    text-decoration: none;
    transition: 0.6s ease;
    border: 0.5px solid palevioletred;
    border-radius: 50px 20px;
    font-family: 'Satisfy', cursive;
    text-decoration: none;
    font: bold;
}

.btn :hover {
    background-color: palevioletred;
    color: #000000;
}

a.fab.fa-instagram:hover {
    background-color: palevioletred;
    color: white;
}

a.fab.fa-youtube:hover {
    background-color: palevioletred;
    color: white;
}

a.nav-content:hover {
    background-color: palevioletred;
    color: white;
}

a.btn:hover {
    background-color: palevioletred;
    color: white;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid palevioletred;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#loader_container {
    height: 500%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 700px) {
    .title h1 {
        font-size: 40px;
        cursor: pointer;
        top: 40%;
        margin-top: 25px;
        text-align: center;
    }
    .btn {
        padding: 5px 5px;
        font-size: 17px;
    }
    .main {
        max-width: 1500px;
        margin: auto;
    }
    ul li a {
        text-decoration: none;
        color: brown;
        padding: 5px 10px;
        border: transparent;
        transition: 0.6s ease;
        size: 5px;
    }
}